var dinwei = {
  toname: function (value, arr) {
    var length = arr.length
    for (var i = 0; i <= length; i++) {
      if (i == length) {
        return false
        break;
      } else {
        if (arr[i].xuehao == value) {
          return arr[i].uptiwen
        }
      }
    }
  }
}
module.exports = {
  toname: dinwei.toname
}